<section class="ftco-about img ftco-section ftco-no-pb slide" id="about-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 col-lg-5 d-flex">
        <div class="img-about img d-flex align-items-stretch">
          <div class="overlay"></div>
          <div class="img d-flex align-self-stretch align-items-center"
            style="background-image:url(./assets/images/bg_1.png);">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section">
            <h1 class="big">Sobre</h1>
            <h2 class="mb-4">Sobre mim</h2>
            <p>Um pequeno rio chamado Duden passa por seu lugar e abastece-o com a regelialia necessária.</p>
            <ul class="about-info mt-4 px-md-0 px-2">
              <li class="d-flex"><span>Nome:</span> <span>{{ userInfo?.fullName }}</span></li>
              <li class="d-flex"><span>Idade:</span> <span>{{ calculateAge() }}</span></li>
              <li class="d-flex"><span>Estado:</span> <span>{{ userInfo?.address }}</span></li>
              <li class="d-flex"><span>E-mail:</span> <span>{{ userInfo?.email }}</span></li>
            </ul>
          </div>
        </div>
        <div class="counter-wrap d-flex mt-md-3">
          <div class="text">
            <p class="mb-4">
              <span class="number">{{userInfo?.projectCompleted}} </span>
              <span>Project complete</span>
            </p>
            <p><a href="#" class="btn btn-primary py-3 px-3">Download CV</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
