<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <div class="ftco-footer-widget mb-4">
          <h3 class="ftco-heading-2">Sobre</h3>
          <p>Este portfólio foi criado com o objetivo de apresentar meu trabalho e compartilhar minha paixão por
            desenvolvimento de software. Aqui, você encontrará exemplos dos projetos que já realizei, minhas habilidades
            técnicas e formas de entrar em contato. Meu objetivo é conectar com pessoas e empresas que buscam soluções
            inovadoras e criativas. Agradeço sua visita e estou à disposição para futuras colaborações.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="m-1"><a href="https://github.com/brunocarvalhs" class="d-flex align-items-center justify-content-center"><img class="h-50" [src]="'/assets/images/footer/github.svg'" /></a></li>
            <li class="m-1"><a href="https://www.linkedin.com/in/brunocarvalhs/" class="d-flex align-items-center justify-content-center"><img class="h-50" [src]="'/assets/images/footer/linkedin.svg'" /></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li *ngFor="let section of sections">
              <a class="icon-long-arrow-right mr-2" [href]="'#'+section.id">
                <span>{{ section.name }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy; {{ date }} Todos os direitos reservados | Desenvolvido por <i class="icon-heart color-danger"
            aria-hidden="true"></i> by <a href="#" target="_blank">BrunoCarvalhs</a>
        </p>
      </div>
    </div>
  </div>
</footer>