/* Base Navbar Styles */
.navbar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo */
    padding: 0.5rem 1rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* Ajuste conforme necessário */
    background: transparent; /* Fundo transparente para estado normal */
    transition: background 0.3s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
  }
  
  /* Navbar Container Styles */
  .navbar .container {
    padding: 0.5rem 1rem; /* Ajuste o padding conforme necessário */
    border-radius: 8px; /* Opcional: Adiciona bordas arredondadas ao fundo translúcido */
  }
  
  /* Navbar Scrolled Styles */
  .navbar.scrolled {
    background: rgba(0, 0, 0, 0.7) !important; /* Fundo escurecido ao rolar */
  }
  
  .navbar.scrolled .container {
    background: rgba(255, 255, 255, 0.8); /* Fundo translúcido ao rolar */
    backdrop-filter: blur(10px) !important; /* Efeito de desfoque do fundo */
    -webkit-backdrop-filter: blur(10px) !important; /* Prefixo para compatibilidade com Safari */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); /* Sombra adicional */
  }
  
  /* Navbar Brand */
  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff; /* Ajuste a cor conforme necessário */
  }
  
  /* Navbar Light Theme */
  .ftco-navbar-light {
    background: transparent !important; /* Fundo transparente para navbar */
  }
  
  .ftco-navbar-light .container {
    background: rgba(255, 255, 255, 0.1) !important; /* Fundo translúcido */
    backdrop-filter: blur(10px) !important; /* Efeito de desfoque do fundo */
    -webkit-backdrop-filter: blur(10px) !important; /* Prefixo para compatibilidade com Safari */
    padding: 0.5rem 1rem; /* Ajuste o padding conforme necessário */
    border-radius: 8px; /* Opcional: Adiciona bordas arredondadas ao fundo translúcido */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: Adiciona uma sombra sutil */
  }
  
  .ftco-navbar-light .navbar-brand {
    color: #fff;
  }
  
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 16px;
    padding: 0.7rem 20px;
    color: #fff;
    font-weight: 400;
    position: relative;
    display: block;
    text-decoration: none;
  }
  
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link span {
    position: relative;
    display: block;
    padding-bottom: 2px;
  }
  
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #ffbd39;
    visibility: visible;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover span:before,
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link.active span:before {
    transform: scaleX(1);
  }
  
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    border: 1px solid #ffbd39;
    padding: 0.7rem 18px;
    background: #ffbd39;
    border-radius: 5px;
  }
  
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a span {
    display: inline-block;
    color: #fff;
  }
  
  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  
  .ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
    color: #ffbd39;
    outline: none !important;
  }
  
  /* Navbar Expansion Styles */
  @media (min-width: 576px) {
    .navbar-expand-sm {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  
    .navbar-expand-sm .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-expand-sm>.container, .navbar-expand-sm>.container-fluid {
      flex-wrap: nowrap;
    }
  
    .navbar-expand-sm .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  
    .navbar-expand-sm .navbar-toggler {
      display: none;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-expand-md {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  
    .navbar-expand-md .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
      flex-wrap: nowrap;
    }
  
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  
    .navbar-expand-md .navbar-toggler {
      display: none;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  
    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
      flex-wrap: nowrap;
    }
  
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar-expand-xl {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  
    .navbar-expand-xl .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-expand-xl>.container, .navbar-expand-xl>.container-fluid {
      flex-wrap: nowrap;
    }
  
    .navbar-expand-xl .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  
    .navbar-expand-xl .navbar-toggler {
      display: none;
    }
  }
  
  .navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  
  .navbar-expand>.container, .navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0;
    flex-wrap: nowrap;
  }
  
  .navbar-expand .navbar-nav {
    flex-direction: row;
  }
  
  .navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  
  .navbar-expand .navbar-toggler {
    display: none;
  }
  