.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar>.container, .navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

/* Navbar Light Theme */
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-text, .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus, 
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Navbar Dark Theme */
.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text, .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus, 
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* FTCO Navbar Light */
.ftco-navbar-light {
    background: transparent !important;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.ftco-navbar-light .container {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}

.ftco-navbar-light .navbar-brand {
    color: #fff;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
    color: #fff !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 16px;
    padding: 0.7rem 20px;
    color: #fff;
    font-weight: 400;
    opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link span {
    position: relative;
    display: block;
    padding-bottom: 2px;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #ffbd39;
    visibility: visible;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover span:before {
    transform: scaleX(1);
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    border: 1px solid #ffbd39;
    padding: 0.7rem 18px;
    background: #ffbd39;
    border-radius: 5px;
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a span {
    display: inline-block;
    color: #fff;
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
    color: #ffbd39;
    outline: none !important;
}

/* FTCO Navbar Scrolled */
.ftco-navbar-light.scrolled {
    position: fixed;
    top: 0;
    background: #000 !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0 15px;
    margin-top: -130px;
}

.ftco-navbar-light.scrolled .nav-item>.nav-link, .ftco-navbar-light.scrolled .nav-item.cta>a, .ftco-navbar-light.scrolled .navbar-brand, .ftco-navbar-light.scrolled .nav-item.cta>a span {
    color: #fff !important;
    background: #ffbd39;
    border: none !important;
    padding: 0.5rem 20px !important;
    margin-top: 5px !important;
    border-radius: 5px;
}

.ftco-navbar-light.scrolled .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}

/* Navbar Expansion Styles */
@media (min-width: 576px) {
    .navbar-expand-sm {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-sm>.container, .navbar-expand-sm>.container-fluid {
        flex-wrap: nowrap;
    }

    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
        flex-wrap: nowrap;
    }

    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-md .navbar-toggler {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        flex-wrap: nowrap;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-xl .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-xl>.container, .navbar-expand-xl>.container-fluid {
        flex-wrap: nowrap;
    }

    .navbar-expand-xl .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-xl .navbar-toggler {
        display: none;
    }
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar-expand>.container, .navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0;
    flex-wrap: nowrap;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}

.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.navbar-expand .navbar-toggler {
    display: none;
}
