<section class="ftco-section" id="projects-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-start">
        <h3 class="title mb-4">Projetos</h3>
        <p class="subtitle">Aqui estão alguns dos projetos em que tive o prazer de trabalhar. Cada um representa desafios únicos e a aplicação de diferentes tecnologias, desde sistemas embarcados até plataformas móveis, sempre com o objetivo de entregar soluções funcionais e intuitivas. Explore os detalhes de cada projeto para entender melhor minha abordagem e expertise.</p>
      </div>
    </div>
    <div class="row g-4">
      <div *ngFor="let project of list; let i=index" class="card m-2" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title mb-2">{{ project.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ project.language }}</h6>
          <p class="card-text text-truncate">{{ project.description }}</p>
          <a href="{{ project.html_url }}" class="btn btn-primary">Repositorio</a>
        </div>
      </div>
    </div>
  </div>
</section>