<section id="home-section" class="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
        <div class="one-forth text-center text-md-left">
          <div class="text text-white">
            <span class="subheading" i18n>Olá!</span>
            <h1 class="mb-4 mt-3" i18n>Prazer, <span>{{ fullName }}</span></h1>
            <div class="mb-4">
              <div class="typed-text">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mt-5 pt-5" *ngIf="image">
        <div class="containerImage position-relative">
          <div class="large-circle">
            <img [src]="image" class="circle-img img-fluid" alt="Illustration of a presentation">
          </div>
          <div class="medium-circle"></div>
          <div class="small-circle-1">
            <img [src]="'/assets/images/presentation/kotlin.svg'" class="circle-icon img-fluid" alt="Kotlin programming language logo">
          </div>
          <div class="small-circle-2">
            <img [src]="'/assets/images/presentation/android.svg'" class="circle-icon img-fluid" alt="Android logo">
          </div>
          <div class="small-circle-3">
            <img [src]="'/assets/images/presentation/angular.svg'" class="circle-icon img-fluid" alt="Angular framework logo">
          </div>
          <div class="tiny-circle"></div>
          <div class="tiny-circle-2"></div>
          <div class="tiny-circle-3"></div>
        </div>
      </div>
    </div>
  </div>
</section>
