<div class="Presentation" style="width: 666px; height: 520px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 25px; display: inline-flex">
  <div class="HelloIAm" style="color: #E0E0E0; font-size: 39px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Hello, i am</div>
  <div class="Group2" style="width: 666px; height: 449px; position: relative">
    <div class="BrunoCarvalho" style="left: 8px; top: 0px; position: absolute; color: #70FF00; font-size: 78px; font-family: Roboto; font-weight: 700; letter-spacing: 7.80px; word-wrap: break-word">< Bruno<br/>Carvalho /></div>
    <div class="StackDeveloper" style="left: 0px; top: 241px; position: absolute; color: #E0E0E0; font-size: 57px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Mobile Developer</div>
    <div class="Years" style="width: 220px; height: 101px; left: 8px; top: 348px; position: absolute">
      <div class="Exp" style="left: 0px; top: 0px; position: absolute; color: #4F4F4F; font-size: 86px; font-family: Roboto; font-weight: 700; word-wrap: break-word">8</div>
      <div class="YearsOfExperience" style="left: 63px; top: 19px; position: absolute; color: #828282; font-size: 27px; font-family: Roboto; font-weight: 400; text-transform: uppercase; word-wrap: break-word">years of<br/>experience</div>
    </div>
    <div class="ProjectsCom" style="width: 392px; height: 101px; left: 274px; top: 348px; position: absolute">
      <div class="Project" style="left: 0px; top: 0px; position: absolute; color: #4F4F4F; font-size: 86px; font-family: Roboto; font-weight: 700; word-wrap: break-word">10</div>
      <div class="ProjectsCompletedAroundTheWorld" style="left: 117px; top: 22px; position: absolute; color: #828282; font-size: 25px; font-family: Roboto; font-weight: 500; text-transform: uppercase; word-wrap: break-word">Projects Completed<br/>around the world</div>
    </div>
  </div>
</div>
