<section class="ftco-section" id="skills-section">
  <div class="container">
    <div class="row justify-content-start pb-5">
      <div class="col-md-12 heading-section text-start">
        <h3 class="title mb-4">Habilidades</h3>
        <p class="subtitle">Minha jornada no desenvolvimento de software me permitiu adquirir e aprimorar uma ampla gama de habilidades técnicas. Cada tecnologia representa um nível de proficiência alcançado ao longo de projetos desafiadores, sempre com foco na criação de soluções eficazes e inovadoras.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 animate-box" *ngFor="let skill of skills">
        <div class="progress-wrap">
          <h3>{{ skill.technology }}</h3>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="skill.projects" aria-valuemin="0"
              [attr.aria-valuemax]="maxProjects" [style]="'width: ' + skill.projects * 10 + '%'">{{skill.projects}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>