<section class="ftco-section" id="skills-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center">
        <h1 class="big big-2" i18n>Skills</h1>
        <h2 class="mb-4" i18n>Skills</h2>
        <p i18n>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 animate-box" *ngFor="let skill of skills">
        <div class="progress-wrap">
          <h3>{{ skill.technology }}</h3>
          <div class="progress">
            <div class="progress-bar" role="progressbar"
              [attr.aria-valuenow]="skill.projects" aria-valuemin="0"
              [attr.aria-valuemax]="maxProjects" [style]="'width: ' + skill.projects * 10 + '%'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
