<section class="ftco-about img ftco-section ftco-no-pb slide" id="about-section">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-md-12 heading-section text-start">
        <h3 class="title mb-4">Sobre</h3>
        <h6 class="subtitle">Um pouco sobre mim para você conhecer melhor</h6>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-md-12">
        <p>Olá, meu nome é {{ userInfo?.fullName }} e bem-vindo ao meu perfil!</p>
        <p>Sou um engenheiro de software com {{ calculateAge() }} anos de idade, residente atualmente em {{ userInfo?.address }}, e tenho uma profunda paixão por tecnologia. Com uma sólida formação em engenharia da computação e 2 anos de experiência prática como engenheiro Android, estou sempre em busca de novos desafios e oportunidades para aprimorar minhas habilidades e expandir meus conhecimentos.</p>
        <p>Minha missão é desenvolver soluções inovadoras e escaláveis que possam fazer uma diferença real na vida das pessoas. Com conhecimento avançado em Java e Kotlin, e experiência com bibliotecas e frameworks populares como Retrofit, Dagger e Room, estou bem equipado para criar aplicativos móveis de alta qualidade. Minha compreensão sólida da arquitetura de aplicativos e das melhores práticas de desenvolvimento me permite entregar resultados excepcionais.</p>
        <p>Estou continuamente me atualizando sobre as últimas tendências e tecnologias no campo do desenvolvimento de software, sempre em busca de maneiras de contribuir para a comunidade. Minha trajetória inclui uma variedade de projetos bem-sucedidos, e tenho experiência trabalhando em equipes utilizando metodologias ágeis, o que me permite adaptar-me rapidamente a diferentes ambientes e desafios.</p>
        <p>Além do meu trabalho diário, estou empenhado em compartilhar meu conhecimento com a comunidade. Publicamente, você pode encontrar um artigo sobre arquitetura de aplicativos móveis, um tutorial prático sobre o uso de Retrofit, e uma palestra sobre o desenvolvimento de aplicativos escaláveis.</p>
        <p>Se você estiver interessado em saber mais sobre minha experiência, habilidades ou se deseja discutir possíveis colaborações, sinta-se à vontade para me seguir nas redes sociais ou entrar em contato diretamente pelo e-mail {{ userInfo?.email }}. Estou sempre aberto a novas oportunidades e parcerias!</p>
        <p>Obrigado por visitar meu perfil e espero que possamos conectar em breve!</p>
      </div>
    </div>
  </div>
</section>
