@use "@angular/material" as mat;

// Definição de tema do Angular Material
@include mat.core();

// Definição de variáveis de cor
$primary-color: #3f51b5; // indigo
$accent-color: #e91e63; // pink
$warn-color: #f44336; // red
$link-color: #ffbd39; // link color
$body-bg-color: #000000; // background color
$text-color: #999999; // text color
$hover-focus-color: #ffbd39; // link hover and focus color
$caption-color: #6c757d; // caption color

$brunocarvalhs-primary: mat.define-palette(mat.$indigo-palette);
$brunocarvalhs-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$brunocarvalhs-warn: mat.define-palette(mat.$red-palette);

$brunocarvalhs-theme: mat.define-light-theme((
  color: (
    primary: $brunocarvalhs-primary,
    accent: $brunocarvalhs-accent,
    warn: $brunocarvalhs-warn,
  ),
));

@include mat.all-component-themes($brunocarvalhs-theme);

// Estilo global
html, body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: $text-color;
  background: $body-bg-color;
  text-align: left;
}

body.menu-show {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

// Elementos de texto e links
p {
  margin: 0 0 1rem 0;
}

a {
  color: $link-color;
  transition: 0.3s all ease;
  background-color: transparent;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $hover-focus-color;
    outline: none !important;
  }

  &:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

abbr[title], abbr[data-original-title] {
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol, ul, dl {
  margin: 0 0 1rem 0;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 0 0.5rem 0;
}

blockquote {
  margin: 0 0 1rem 0;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }
}

// Elementos de formulário
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
  -webkit-appearance: button;

  &:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
}

input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: inherit;
}

// Elementos de tabela
table {
  border-collapse: collapse;
}

caption {
  padding: 0.75rem 0;
  color: $caption-color;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

// Elementos gráficos e mídia
img, svg {
  vertical-align: middle;
  border-style: none;
  overflow: hidden;
}

pre, code, kbd, samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin: 0 0 1rem 0;
  overflow: auto;
}

figure {
  margin: 0 0 1rem 0;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Impressão
@media print {
  *, *::before, *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre, blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  @page {
    size: a3;
  }

  body {
    min-width: 992px !important;
  }

  .container {
    min-width: 992px !important;
  }

  .navbar {
    display: none;
  }

  .badge {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table td, .table th {
    background-color: #fff !important;
  }

  .table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }

  .table-dark {
    color: inherit;
  }

  .table-dark th, .table-dark td, .table-dark thead th, .table-dark tbody+tbody {
    border-color: #dee2e6;
  }

  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }
}

// Imports de SCSS personalizados
@import './assets/scss/button';
@import './assets/scss/float';
@import './assets/scss/forms';
@import './assets/scss/headers';
@import './assets/scss/image';
@import './assets/scss/size';
@import './assets/scss/text';
