<section class="ftco-section ftco-no-pb" id="resume-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-10 heading-section text-center">
        <h1 class="big big-2" i18n>Resume</h1>
        <h2 class="mb-4" i18n>Resume</h2>
        <p i18n>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
          paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="resume-wrap" *ngFor="let college of colleges">
          <span class="date">{{college.date}}</span>
          <h2>{{college.course}}</h2>
          <span class="position">{{college.university}}</span>
          <p class="mt-4">{{ college.describe }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="resume-wrap" *ngFor="let work of works">
          <span class="date">{{ work.date }}</span>
          <h2>{{ work.office }}</h2>
          <span class="position">{{ work.company }}</span>
          <p class="mt-4">{{ work.description }}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center">
        <p><a href="#" class="btn btn-primary py-3 px-4" i18n>Download CV</a></p>
      </div>
    </div>
  </div>
</section>
