<section id="home-section" class="hero">
  <div class="container">
    <div class="row vh-100">
      <div class="col-md-6">
        <div class="one-forth d-flex align-items-center">
          <div class="text text-white">
            <span class="subheading" i18n>Hello!</span>
            <h1 class="mb-4 mt-3" i18n>I'm <span>{{ fullName }}</span></h1>
            <div class="mb-4">
              <div class="typed-text"></div>
            </div>
            <p>
              <a href="#" class="btn btn-primary py-3 px-4" i18n>Hire me</a>
              <a href="#" class="btn btn-white btn-outline-white py-3 px-4" i18n>My works</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img [src]="'/assets/images/bg_2.png'" class="d-block w-100" alt="Background Image">
        <div class="overlay"></div>
      </div>
    </div>
  </div>
</section>
